{% extends "channel_configure.html" %}
{% block form_content %}
    <div class="form-group">
        <a type="button" class="btn btn-outline-primary" href="{{ url_token }}">Get Access-Token</a>
        <select name="Page" size = "1" id="page" onChange="SelectPage(pages)">
            {% for page in pages %}
                <option>{{ page['name'] }}
            {% endfor %}
        </select>
    </div>
{% endblock %}
<script>
    function SelectPage(pages) {
        document.form.set("page",pages[document.getElementById("page").selectedIndex])
    }
</script>
