{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block messages %}
    {% include "display_messages.html" %}
{% endblock %}
{% block content %}
    <h1>Index</h1>

    {% if session.logged_in %}
        <div class="row">
        <div class="col-md-12">
            {% if user.is_mod %}
                <h2>Unmoderated Publishings</h2>
                <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>
                      Channel
                    </th>
                    <th>
                      Subject
                    </th>
                    <th>
                      Body
                    </th>
                    <th>
                        Author
                    </th>
                    <th>
                        Action
                    </th>
                  </tr>
                </thead>

                <tbody>
                {% for p in publishings %}
                    {% if p.state == states.NOTVALIDATED.value %}
                    <tr>
                        <td>
                            {{ p.channel.name }}
                        </td>
                        <td>
                            {{ p.title }}
                        </td>
                        <td>
                            <div class="row">
                                <div class="col">{{ p.description }}</div>
                            </div>
                        </td>
                        <td>
                            {{ p.get_author() }}
                        </td>
                        <td>
                            <a href="{{ url_for('publishings.moderate_publishing',id=p.post_id,idc=p.channel_id) }}" class="btn btn-outline-primary" role="button">Moderate</a>

                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
                </table>
                <div class="d-flex flex-row-reverse">
                    <a href="{{ url_for('lists.moderator_unmoderated_publishings') }}" class="btn btn-outline-primary " role="button"> See more</a>
                </div>
            {% endif %}

            <h2>Refused publishings</h2>
            <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Channel
                    </th>
                    <th>
                        Subject
                    </th>
                    <th>
                        Body
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>

                <tbody>
                    {% for item in my_refused_publishings %}
                        {% if item.state == states.REFUSED.value %}
                        <tr>
                            <td>
                                {{ item.channel.name }}
                            </td>
                            <td>
                                {{ item.title }}
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col">{{ item.description }}</div>
                                </div>
                            </td>
                            <td>
                                <a href="{{ url_for('non-validation.rework_publishing',id=item.post_id,idc=item.channel_id) }}" class="btn btn-outline-primary" role="button">Rework</a>
                                <a href="" class="btn btn-outline-primary">Copy</a>
                                <a href="#" class="btn btn-outline-warning" role="button">Delete</a>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <div class="d-flex flex-row-reverse">
                <a href="{{ url_for('lists.refused_publishings') }}" class="btn btn-outline-primary " role="button"> See more</a>
            </div>
        <h2>Accepted publishings</h2>
            <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Channel
                    </th>
                    <th>
                        Subject
                    </th>
                    <th>
                        Body
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>

                <tbody>
                    {% for item in my_accepted_publishings %}
                        {% if item.state == states.VALIDATED.value %}
                        <tr>
                            <td>
                                {{ item.channel.name }}
                            </td>
                            <td>
                                {{ item.title }}
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col">{{ item.description }}</div>
                                </div>
                            </td>
                            <td>
                                <a href="{{ url_for('non-validation.view_feedback', id=item.post_id, idc=item.channel_id)}}" class="btn btn-outline-primary">View feedback</a>
                                <a href="#" class="btn btn-outline-primary">Copy</a>
                                <a href="#" class="btn btn-outline-warning" role="button">Delete</a>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <div class="d-flex flex-row-reverse">
                <a href="{{ url_for('lists.accepted_publishings') }}" class="btn btn-outline-primary " role="button"> See more</a>
            </div>
            <h2>All my posts</h2>
            <table class="table table-bordered">
            <thead>
              <tr>
                <th>
                  #
                </th>
                <th>
                  Subject
                </th>
                <th>
                  Body
                </th>
                <th>
                    Action
                </th>
              </tr>
            </thead>

            <tbody>
                {% for item in posts %}
                <tr>
                    <td>
                        {{ item.id }}
                    </td>
                    <td>
                        {{ item.title }}
                    </td>
                    <td>
                        <div class="row">
                            <div class="col">{{ item.description }}</div>
                        </div>
                    </td>
                    <td>
                        <a href="{{ url_for('posts.edit_post',post_id=item.id) }}" class="btn btn-outline-primary" role="button">Edit</a>
                        <a href="{{ url_for('posts.copy_new_post',post_id=item.id) }}" class="btn btn-outline-primary">Copy</a>
                        <a href="#" class="btn btn-outline-warning" role="button">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
            <div class="d-flex flex-row-reverse">
                <a href="{{ url_for('lists.all_posts') }}" class="btn btn-outline-primary " role="button"> See more</a>
            </div>
        </div>
      </div>
    {% else %}
        <p>You are not logged in.</p>
    {% endif %}


{% endblock %}
