{% extends "layout.html" %}
{% block title %}Expired Access Token{% endblock %}
{% block content %}
    <h1><font COLOR="FF0000">Error</font></h1>
    {% if session.logged_in %}
        <form method="POST" action="">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        You can no longer publish on this channel for the moment.<br>
                        {{ msg }}<br>
                         Please contact an administrator to fix this error.
                    </div>
                </div>
            </div>
            <input class="btn btn-danger" type="button" value="Return" onclick="history.back()">
        <!--<button class="btn btn-danger">Return</button>-->
        </form>
    {% else %}
        Your are not logged in.
    {% endif %}

{% endblock %}