{% extends "layout.html" %}
{% block content %}
    <h1>{% block sub_title %} {% endblock %}</h1>
    <h2>Channel: {{ chan.name }}</h2>
    {% if session.logged_in %}
        <form method="POST" action="">
            <div class="row">
                <div class="col-md-8">
                    {{ ictv_error|safe }}
                    <div class="form-group">
                        <label for="titlepost">Title</label><br>
                        <input type="text" name="titlepost" id="titlepost" class="form-control" value="{{ pub.title }}">
                    </div>
                    <div class="form-group">
                        <label for="descrpost">Description</label><br>
                        <textarea class="form-control" rows="5" id="descrpost" name="descrpost">{{ pub.description }}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="linkurlpost">Link</label><br>
                        <input type="text" name="linkurlpost" id="linkurlpost" class="form-control" value="{{ pub.link_url }}">
                    </div>
                    <div class="form-group">
                        <label for="imagepost">Image</label><br>
                        <input type="file" name="imagepost" id="imagepost" class="form-control" value="{{ pub.image_url }}">
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="datefrompost">Publication Date</label><br>
                                <input id="datefrompost" name="datefrompost" type="date" class="form-control" value="{{ pub.date_from }}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dateuntilpost">Publication Until</label><br>
                                <input id="dateuntilpost" name="dateuntilpost" type="date" class="form-control" value="{{ pub.date_until }}">
                            </div>
                        </div>
                    </div>
                    {% set module_name = chan.module.split('.')[2].lower() %}
                    {% set template = 'plugins/' + module_name + '/moderate.html' %}
                    {% include template ignore missing %}
                </div>
                <div class="col-md-4">
                    {% block moderation_messages %} {% endblock %}
                </div>
            </div>
            {% block button %}{% endblock %}
        </form>
    {% else %}
        Your are not logged in.
    {% endif %}

{% endblock %}

{% block scripts %}
    <script>
        {% set module_name = chan.module.split('.')[2].lower() %}
        {% set template = 'plugins/' + module_name + '/moderate.js'%}
        {% include template ignore missing %}
    </script>

{% endblock %}
