{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.bootstrap4.min.css') }}" crossorigin="anonymous">
{% endblock %}
{% block content %}
    <h1>{{ title }}</h1>

    {% if session.logged_in %}
        <div class="row">
        <div class="col-md-12">
        <table id="publishing-table" class="table table-bordered table-striped" style="width: 100%">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    {% if my_publishings %}
                        <th>
                            Channel
                        </th>
                    {% endif %}
                    <th>
                        Subject
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>

            <tbody>
                {% for item in my_publishings %}
                    {% if item.state == state %}
                    <tr>
                        <td>
                            {{ item.post_id }}
                        </td>
                        <td>
                            {{ item.channel.name }}
                        </td>
                        <td>
                            {{ item.title }}
                        </td>
                        <td>
                            {% if to_moderate %}
                                <a href="{{ url_for('publishings.moderate_publishing',id=item.post_id,idc=item.channel_id) }}" class="btn btn-outline-primary" role="button">Moderate</a>
                            {% else %}
                                {# TODO refactor #}
                                {% if state == states.REFUSED.value %}
                                    <a href="{{ url_for('non-validation.rework_publishing',id=item.post_id,idc=item.channel_id) }}" class="btn btn-outline-primary" role="button">Rework</a>
                                {% elif state == states.NOTVALIDATED.value %}
                                    <a href="{{ url_for('non-validation.view_publishing',id=item.post_id,idc=item.channel_id) }}" class="btn btn-outline-primary" role="button">View publishing</a>
                                {% elif state == states.VALIDATED.value %}
                                    <a href="{{ url_for('non-validation.view_feedback',id=item.post_id,idc=item.channel_id) }}" class="btn btn-outline-primary" role="button">View feedback</a>
                                {% endif %}
                                <a href="#" class="btn btn-outline-primary">Copy</a>
                                <a href="#" class="btn btn-outline-warning" role="button">Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
                {% for post in posts %}
                    <tr>
                        <td>
                            {{ post.id }}
                        </td>
                        <td>
                            {{ post.title }}
                        </td>
                        <td>
                            <a href="{{ url_for('posts.edit_post',post_id=post.id) }}" class="btn btn-outline-primary" role="button">Edit</a>
                            <a href="{{ url_for('posts.copy_new_post',post_id=post.id) }}" class="btn btn-outline-primary">Copy</a>
                            <a href="#" class="btn btn-outline-warning" role="button">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>
                        Channel
                    </th>
                    <th>
                        Subject
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </tfoot>
        </table>
        </div>
        </div>
    {% else %}
        <p>Your are not logged in.</p>
    {% endif %}
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/dataTables.bootstrap4.min.js') }}" crossorigin="anonymous"></script>
    <script type="text/javascript" class="init">
        $(document).ready(function() {
            $('#publishing-table').DataTable({
                "order": [[0, 'desc']]
            });
        } );
    </script>

{% endblock %}