{% extends "layout_publishing.html" %}
{% block title %}Moderate{% endblock %}
{% block sub_title %} Moderate this publication {% endblock %}
{% block messages %}
    {% include "display_messages.html" %}
{% endblock %}
{% block moderation_messages %}
    <div style="font-weight: bold">Previous Feedback(s)</div>
    {% include "display_moderation_messages.html" %}
    <div>
        <label for="commentpub"><b>New feedback</b></label><br>
        <textarea class="form-control" rows="20" id="commentpub" name="commentpub"></textarea>
    </div>
{% endblock %}
{% block button %}
    <button id="refuse-button" class="btn btn-danger"  formaction="{{ url_for('non-validation.refuse_publishing', id=pub.post_id, idc=pub.channel_id)}}" formmethod="post" type="submit" disabled>Refuse</button>
    <button id="publish-button" class="btn btn-success" formaction="{{ url_for('non-validation.validate_publishing', id=pub.post_id, idc=pub.channel_id)}}" formmethod="post" type="submit" {% if chan_not_conf %} disabled {% endif %}>Publish</button>
{% endblock %}
{% block scripts %}
    <script>
    $('#commentpub').on('keyup', function() {
        var content = $(this).val();
        console.log(content);
        console.log(content.length);
        if (content.length > 0) {
            $('#refuse-button').attr('disabled', false);
        } else {
            $('#refuse-button').attr('disabled', true);
        }
    });
    </script>
{% endblock %}
