{% extends "layout_publishing.html" %}
{% block title %} Rework {% endblock %}
{% block sub_title %} Rework this publication {% endblock %}
{% block button %}
    <button class="btn btn-danger" formaction="{{ url_for('non-validation.abort_rework_publishing', id=pub.post_id, idc=pub.channel_id)}}" formmethod="post" type="submit">Abort</button>
    <button class="btn btn-success" formaction="{{ url_for('non-validation.validate_rework_publishing', id=pub.post_id, idc=pub.channel_id)}}" formmethod="post" type="submit">Submit</button>
{% endblock %}
{% block moderation_messages %}
    <div style="font-weight: bold">Feedback(s)</div>
    {% include "display_moderation_messages.html" %}
{% endblock %}
