{% extends "layout_publishing.html" %}
{% block title %} Feedback {% endblock %}
{% block sub_title %} Feedback for your publication {% endblock %}
{% block moderation_messages %}
    <div style="font-weight: bold">Feedback(s)</div>
    {% include "display_moderation_messages.html" %}
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function() {
            $('input').attr('readonly', true);
            $('textarea').attr('readonly', true);
        });
    </script>
{% endblock %}
