{% extends "layout_publishing.html" %}
{% block title %} Feedback {% endblock %}
{% block sub_title %} Feedback for your publication {% endblock %}
{% block messages %}
    <label for="feedbackpub"><b>Feedback</b></label>
    {% for m in mod %}
        <div class="card">
            <div class="card-body">
                {{ m.message }}
            </div>
        </div>
    {% endfor %}
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function() {
            $('input').attr('readonly', true);
            $('textarea').attr('readonly', true);
        });
    </script>
{% endblock %}
